* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

.canvas.navy {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 556px 900px;
	border-color: transparent transparent #3E4B5E transparent;
	position: absolute;
}

.cup-container {
	width: 300px;
	height: 400px;
	bottom: -30px;
	left: 500px;

	background: transparent;

}

.object{
	position: absolute;
}

.cup{

	width:250px;
	height:275px;
	bottom:9px;
	right: 0px;
	transform: rotate(-5deg);
	background-color: #C4BEAE;
}

.cup-bottom{

	width: 250px;
	height: 220px;
	background-color: #C4BEAE;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	bottom: -50px;
}

.cup-top{
	width: 250px;
	height: 220px;
	background-color: #C4BEAE;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	top: -48px;

}

.coffee{
	width: 200px;
	height: 100px;
	background: red;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	
}

.handle{

	width: 80px;
  	height: 80px;
	border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
      transform: rotate(-100deg);
      background:green;
}

.handle-hole{

	width: 50px;
  	height: 45px;
	border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
      transform: rotate(10deg);
      left: 15px;
      bottom:10px;
      background:red;
}