
.text{
    
    position: absolute;
    left: 63px;
    word-spacing: 204px;
    width: 1300px;
    height: 76px;
    line-height: 66px;
    text-align: center;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .text:hover {
    -webkit-transform: translate(0em,200em);
    -moz-transform: translate(0em,200em);
    -o-transform: translate(0em,200em);
    -ms-transform: translate(0em,200em);
    transform: translate(0em,200em);
  }

  span{

    color: #A889B6;
  }


    a:nth-child(1){

        position: absolute;
        top: 0px
       right:712px;
    }

    a:nth-child(2){


        position: absolute;
        top: 0px;
        right:80px;

    }

    a:nth-child(3){

    
        position: absolute;
        top: 0px;
       left: 80px;
    }
    